<tbody>
<% @alerts.each do |alert| %>
  <tr>
    <td>
      <%= alert.student.name %>
    </td>
    <td>
      <%= link_to alert.assignment.name, 
        [
          "/courses/#{alert.assignment.course.id}/gradebook/speed_grader?assignment_id=#{alert.assignment.id}#",
            url_encode("{\"student_id\":\"#{alert.student.id}\"}")
        ].join
       %>
    </td>
    <td>
       <%= alert.detail %>
    </td>
    <td>
      <%= alert.updated_at.try(:in_time_zone).try(:strftime, "%u/%e/%y %l:%M %P") %>
    </td>
    <td>
      <%= alert.type %>
    </td>
    <td>
      <i class="icon-x" style="cursor: pointer" onClick="dismissAlert(<%= "dismiss_alert_#{alert.alert_id}" %>)"></i>

      <%= form_tag "/cs_alerts/#{alert.alert_id}", method: 'delete', id: "dismiss_alert_#{alert.alert_id}", class: 'hidden' do %>
        <%= hidden_field_tag :alert_id, alert.alert_id %>
      <% end %>
    </td>
  </tr>
<% end %>
</tbody>
