<tbody>
<% @alerts.each do |alert| %>
  <tr>
    <td>
      <%= alert.student.name %>
    </td>
    <td>
      <%= link_to alert.assignment.name,
        [
          "/courses/#{alert.assignment.course.id}/gradebook/speed_grader?assignment_id=#{alert.assignment.id}#",
            url_encode("{\"student_id\":\"#{alert.student.id}\"}")
        ].join
       %>
    </td>
    <td>
      <%= alert.assignment&.course&.name || "-" %>
    </td>
    <td>
       <%= alert.detail %>
    </td>
    <td>
      <%= alert.updated_at.try(:in_time_zone).try(:strftime, "%m/%d/%y %I:%M %P") %>
    </td>
    <td>
      <%= alert.description %>
    </td>
    <td class="delete-column">
      <i class="icon-x" style="cursor: pointer"
      data-alert='<%= alert.alert_id %>' data-url='<%= cs_alert_path(alert.alert_id) %>'></i>
      <input class="hidden bulk-delete-checks" type="checkbox" name="alert_ids[]" value='<%= alert.alert_id %>' />
    </td>
  </tr>
<% end %>
</tbody>
