<table id="studentDetails" class="stripe">
  <thead>
    <tr>
      <th>Student Name</th>
      <th>Days Since Active</th>
      <th>Days Since Last Submission</th>
      <th>Missing Assignments</th>
      <th>Current Grade</th>
      <th>Course Progress</th>
      <th>Assignments Completed</th>
      <th>Alerts</th>
    </tr>
  </thead>

  <tbody>
    <% (@context.try(:active_students) || []).each do |student| %>
      <tr class="caag-detail-row">
        <td><%= student.user.name %></td>
        <td>
          <%= student.days_since_active %>
        </td>
        <td>
          <%= student.days_since_last_submission %>
        </td>
        <td>
          <%= student.missing_assignments_count %>
        </td>
        <td>
          <%= student.current_score %>
        </td>
        <td>
          5
        </td>
        <td>
          6
        </td>
        <td>
          7
        </td>
      </tr>
    <% end %>
  </tbody>

</table>
