<div id="card-container">
  <div class="card content-box border border-trbl border-round">
    <div class="card-body">
      <h5><strong>Average Score in Course</strong></h5>
      <p class="card-text"><%= @avg_grade %><span class="percent-superscript">%</span></p>
    </div>
    <div class="card-footer">
      <p class="border border-t">Based on current scores</p>
    </div>
  </div>
  <div class="card content-box border border-trbl border-round">
    <div class="card-body">
      <h5><strong>Average Course % Completed</strong></h5>
      <p class="card-text"><%= @avg_completion_pct %><span class="percent-superscript">%</span></p>
    </div>
    <div class="card-footer">
      <%= link_to 'View Student Progress', progressions_course_context_modules_path, class: "card-link border border-t course-snapshot-link-color" %>
    </div>
  </div>
  <div class="card content-box border border-trbl border-round">
    <div class="card-body">
      <h5><strong>Assignments Need Grading</strong></h5>
      <p class="card-text"><%= @assignments_need_grading %></p>
    </div>
    <div class="card-footer">
      <%= link_to 'View Gradebook', course_grades_path, class: "card-link border border-t course-snapshot-link-color" %>
    </div>
  </div>
  <div class="card content-box border border-trbl border-round">
    <div class="card-body">
      <h5><strong>Alerts Need Attention</strong></h5>
      <p class="card-text"><%= @alerts_need_attention %></p>
    </div>
    <div class="card-footer">
      <%= link_to 'View Alerts', cs_alerts_path, class: "card-link border border-t course-snapshot-link-color" %>
    </div>
  </div>
</div>
