<h3 class="studentDetails-heading">
    Student Details <span>(<%= pluralize(@student_count, 'active student') %>)</span>
</h3>

<table id="placeHolderStudentDetails">
  <thead>
    <tr>
      <th>Student Name</th>
      <th>SIS ID</th>
      <th>Days Since Active</th>
      <th>Days Since Last Submission</th>
      <th>Missing Assignments</th>
      <th>Current Score</th>
      <th>Course Progress</th>
      <th>Requirements Completed</th>
      <th>Alerts</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td></td><td></td><td></td>
      <td id="loading-cell">
        Loading...
      </td>
      <td></td><td></td><td></td><td></td>
    </tr>
  </tbody>
</table>

<table id="studentDetails" style="width:100%">
  <thead>
    <tr>
      <th>Student Name</th>
      <th>SIS ID</th>
      <th>Days Since Active</th>
      <th>Days Since Last Submission</th>
      <th>Missing Assignments</th>
      <th>Current Score</th>
      <th>Course Progress</th>
      <th>Course Progress Data</th>
      <th>Requirements Completed</th>
      <th>Alerts</th>
    </tr>
  </thead>

  <tbody>
    <% @active_students.each do |stu_enr| %>
      <tr class="course-snapshot-detail-row" data-course-id=<%= @context.id %> data-enr-id=<%= stu_enr.first %>>
        <td><%= link_to stu_enr.third, course_user_path(@context.id, stu_enr.second), class: "course-snapshot-link-color" %></td>
        <td><%= present_sis_ids(stu_enr) %></td>
        <td class="enr-last-active">
          Waiting...
        </td>
        <td class="enr-last-submission">
          Waiting...
        </td>
        <td class="enr-missing-assignments">
          Waiting...
        </td>
        <td class="enr-current-score">
          Waiting...
        </td>
        <td class="enr-progress-bar">
          <div class="progress" data-label='Waiting...'>
            <span class="value">
              <span style="display: none;"></span>
            </span>
          </div>
        </td>
        <td class="course-progress-data"></td>
        <td class="enr-requirements-completed">
          Waiting...
        </td>
        <td class="enr-alerts-count">
          Waiting...
        </td>
      </tr>
    <% end %>
  </tbody>

</table>
