<% content_for :strongmind_assets do %>
  <%= stylesheet_link_tag    "canvas_shim/application", media: "all" %>
  <%= javascript_include_tag 'canvas_shim/application' %>
<% end %>

<% content_for :page_title, "#{@context.name} at a glance" %>
<% add_crumb t('#crumbs.at_a_glance', "#{@context.name} at a glance") %>

<div class="ic-Action-header content-box pad-box-mini border border-t border-b">
  <div class="ic-Action-header__Primary">
    <h3 class="ic-Action-header__Heading"><%= @context.name %> at a glance</h3>
  </div>
  <div class="ic-Action-header__Secondary">
    <select class="ic-Input" id="caag-course-select" style="width: 50%; float: right;">
      <option><%= @context.name %></option>
    </select>
  </div>
</div>
<div id="card-container">
  <div class="card content-box pad-box-mini border border-trbl border-round">
    <div class="card-body" style="padding: .25rem 2rem 2rem 2rem; text-align: center;">
      <h5><strong>Average Course Grade</strong></h5>
      <p class="card-text">83.2</p>
      <%= link_to 'Student Details', course_users_path, class: "card-link border border-t" %>
    </div>
  </div>
  <div class="card content-box pad-box-mini border border-trbl border-round">
    <div class="card-body">
      <h5><strong>Average Course % Completed</strong></h5>
      <p class="card-text">74.3</p>
      <%= link_to 'View Progressions', progressions_course_context_modules_path, class: "card-link border border-t" %>
    </div>
  </div>
  <div class="card content-box pad-box-mini border border-trbl border-round">
    <div class="card-body">
      <h5><strong>Assignments Need Grading</strong></h5>
      <p class="card-text">53</p>
      <%= link_to 'Gradebook', course_grades_path, class: "card-link border border-t" %>
    </div>
  </div>
  <div class="card content-box pad-box-mini border border-trbl border-round">
    <div class="card-body">
      <h5><strong>Alerts Need Attention</strong></h5>
      <p class="card-text">7</p>
      <%= link_to 'View Alerts', cs_alerts_path, class: "card-link border border-t" %>
    </div>
  </div>
</div>