<% content_for :strongmind_assets do %>
  <%= stylesheet_link_tag    "canvas_shim/application", media: "all" %>
  <%= javascript_include_tag 'canvas_shim/application' %>
  <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
<% end %>

<% content_for :page_title, "#{@context.name} at a glance" %>
<% add_crumb t('#crumbs.at_a_glance', "#{@context.name} at a glance") %>

<%= render partial: 'caag_header' %>
<section id="course-snapshot-container">
    <%= render partial: 'caag_overview' %>
    <%= render partial: 'caag_student_details' %>
    <%= render partial: 'caag_activity_chart' %>
</div>
