<% @assignment_group_thresholds.each do |group_name, threshold| %>
  <tr>
    <td><%= settings.blabel "#{group_name}_passing_threshold".to_sym, :en => "#{group_name.humanize.pluralize}" %></td>
    <td>
      <%= settings.number_field "#{group_name}_passing_threshold".to_sym,
                                :value => threshold,
                                :class => 'same-width-as-select, passing-threshold-number-field',
                                :min => "0",
                                :max => "100",
                                :step => "0.1",
                                :placeholder => "Choose a number between 0-100",
                                :disabled => true %>
      <%= hidden_field_tag "#{group_name}_passing_threshold_edited", false %>
      <p style="font-size: 0.9em;"><%= t("Set a school-wide minimum percentage for all #{group_name.humanize.downcase.pluralize}. Each of these #{group_name.humanize.downcase.pluralize} will have an adjusted minimum score based on this percentage.") %></p>
      <p style="font-size: 0.9em;"><%= t("This setting is off by default, and/or when the threshold is set to 0.0.") %></p>
    </td>
  </tr>
<% end %>
